# Database Configuration
INDEXER_DB_HOST=localhost
INDEXER_DB_PORT=5432
INDEXER_DB_DATABASE=near
INDEXER_DB_USERNAME=postgres
INDEXER_DB_PASSWORD=postgres
INDEXER_DB_SCHEMA=fastnear
INDEXER_DB_MAX_CONNECTIONS=10

# NEAR API Configuration
INDEXER_API_AUTH_TOKEN=SECRET_TOKEN
INDEXER_API_CHAIN_ID=testnet


